<!--Header Start-->

<nav class="navbar navbar-toggleable-md navbar-header">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#" id="text-color-value">School Name</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto" id="navbar-ul-style">
      <li class="nav-item">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" title="See Our School">The School</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" title="Get Admission">Admission</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="#" title="See Our Events">Events</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" title="See Our Curriculum & Activities">Curriculum</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="#" title="See Our School Space">Spaces</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" title="See Our Achievements">Achievements</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="#" title="See Our Community">Community</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" title="We would love to hear from you.">Contact Us</a>
      </li>
    </ul>
  </div>
</nav>

<!--Header End-->


<!--Start of Curriculum-->

<div class="spaces" id="spaces">
<h4 class="h4-style-everypage">Curriculum & Activities</h4>
<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner" role="listbox">
    <div class="carousel-item active">
      <img class="d-block img-fluid curriculum-image" src="../assets/images/curriculum1.jpg">
    </div>
    <div class="carousel-item">
      <img class="d-block img-fluid curriculum-image" src="../assets/images/curriculum2.jpg">
    </div>
    <div class="carousel-item">
      <img class="d-block img-fluid curriculum-image" src="../assets/images/curriculum3.jpg">
    </div>
  </div>
</div>
<ul class="list-unstyled" style="margin-top: 2%;">
  <li class="media">
    <div class="media-body curriculum-media">
      <h5 class="mt-0 mb-1" style="padding-bottom: 1%;">Objectives</h5>
      Curriculum Framework has been developed on the foundation of trust, autonomy, flexibility and accountability with the main objective to generate fresh thinking and action.
    </div>
  </li>
  <li class="media my-4">
    <div class="media-body curriculum-media">
      <h5 class="mt-0 mb-1" style="padding-bottom: 1%;">Curriculum Objectives</h5>
      <p>
      The objective in designing in-house curriculum is to offer teaching and learning which ensures that all pupils :<br>
        1. Are interested and motivated in their work;<br>
        2. Achieve success and make progress in their learning;<br>
        3. Derive satisfaction from their achievements;<br>
        4. Have confidence in their ability to work at an appropriate level;<br>
        5. Experience an appropriately broad and balanced curriculum;<br>
        6. Have equality of access to learning and subjects of the curriculum;<br>
        7. Experience a range of teaching methods;<br>
        8. Are involved in integrated and subject -specific activities;<br>
        9. Work individually and as a member of a group;<br>
        10. Have their progress in the key skills of learning monitored and recorded;<br>
        11. Work with a number of adults;<br>
        12. Learn in a purposeful atmosphere where there is mutual respect and deep understanding;<br>
      </p>
    </div>
  </li>
  <li class="media">
    <div class="media-body curriculum-media">
      <h5 class="mt-0 mb-1" style="padding-bottom: 1%;">Competencies Fostered</h5>
      <p>
        1. Self - direction: the capacity to carry out independently and to take initiative<br>
        2. Inventiveness: The creative use of resources, alternative methods and explanations<br>
        3. Problem-solving involving diagnostic ability, problem formulation, problem solving skills<br>
        4. Analytical and Evaluative Skills<br>
        6. Decision - Making Skills: Deciding what is relevant and what is not, what to include and what to leave out<br>
        7. Integrative Skills: The synthesis of ides, experiences, and information from different sources and disciplines.<br>
        8. Interpersonal communication<br>
        9. Communicating with peer group a and adults<br>
        10. Elucidating ideas through written work, graphs, oral presentations etc.<br>
      </p>
    </div>
  </li>
</ul>

</div>

<!--Curriculum End-->

<!--Start of Spaces-->

<div class="spaces" id="spaces">
<h4 class="h4-style-everypage">Our Space</h4>
<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner space-image" role="listbox">
    <div class="carousel-item active">
      <img class="d-block img-fluid space-image" src="../assets/images/space1.jpg">
    </div>
    <div class="carousel-item">
      <img class="d-block img-fluid space-image" src="../assets/images/space2.jpg">
    </div>
    <div class="carousel-item">
      <img class="d-block img-fluid space-image" src="../assets/images/space3.jpg">
    </div>
    <div class="carousel-item">
      <img class="d-block img-fluid space-image" src="../assets/images/space4.jpg">
    </div>
    <div class="carousel-item">
      <img class="d-block img-fluid space-image" src="../assets/images/space5.jpg">
    </div>
    <div class="carousel-item">
      <img class="d-block img-fluid space-image" src="../assets/images/space6.jpg">
    </div>
    <div class="carousel-item">
      <img class="d-block img-fluid space-image" src="../assets/images/space7.jpg">
    </div>
    <div class="carousel-item">
      <img class="d-block img-fluid space-image" src="../assets/images/space8.jpg">
    </div>
    <div class="carousel-item">
      <img class="d-block img-fluid space-image" src="../assets/images/space9.jpg">
    </div>
    <div class="carousel-item">
      <img class="d-block img-fluid space-image" src="../assets/images/space10.jpg">
    </div>
  </div>
</div>
</div>

<!--End of Spaces-->

<!--Start Of Achievement-->

<div class="achievement" id="achievement">
<h4 class="h4-style-everypage">Our Achievements</h4>
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner" role="listbox">
    <div class="carousel-item active">
      <img class="d-block img-fluid community-image" src="../assets/images/11.jpg" alt="First slide">
      <img class="d-block img-fluid community-image" src="../assets/images/12.jpg" alt="First slide">      
    </div>
    <div class="carousel-item">
      <img class="d-block img-fluid community-image" src="../assets/images/13.jpg" alt="Second slide">
      <img class="d-block img-fluid community-image" src="../assets/images/14.jpg" alt="second slide">      
    </div>
    <div class="carousel-item">
      <img class="d-block img-fluid community-image" src="../assets/images/15.jpg" alt="Third slide">
      <img class="d-block img-fluid community-image" src="../assets/images/16.jpg" alt="Third slide">      
    </div>
  </div>
</div>
<div id="accordion" role="tablist" aria-multiselectable="true">
  <div class="card">
    <div class="card-header" role="tab" id="achievementOne">
      <h5 class="mb-0">
        <a data-toggle="collapse" data-parent="#accordion" href="#StudentAchievement" aria-expanded="true" aria-controls="StudentAchievement">
          #1. Student's Achievement
        </a>
      </h5>
    </div>

    <div id="StudentAchievement" class="collapse show" role="tabpanel" aria-labelledby="achievementOne">
      <div class="card-block community-text">
        <h4 style="text-align:center; color:green; margin:2%;">Scholarship Awards</h4>                            
        <div class="row">
          <div class="col-6 col-sm-3">
            <div class="text-center"><img src="../assets/images/person.jpg"><p>Student Name</p></div>
          </div>
          <div class="col-6 col-sm-3">
            <div class="text-center"><img src="../assets/images/person.jpg"><p>Student Name</p></div>
          </div>
          <div class="clearfix hidden-sm-up"></div>
          <div class="col-6 col-sm-3">
            <div class="text-center"><img src="../assets/images/person.jpg"><p>Student Name</p></div>            
          </div>
          <div class="col-6 col-sm-3">
            <div class="text-center"><img src="../assets/images/person.jpg"><p>Student Name</p></div>            
          </div>
          <div class="col-6 col-sm-3">
            <div class="text-center"><img src="../assets/images/person.jpg"><p>Student Name</p></div>            
          </div>
          <div class="col-6 col-sm-3">
            <div class="text-center"><img src="../assets/images/person.jpg"><p>Student Name</p></div>            
          </div>
          <div class="clearfix hidden-sm-up"></div>
          <div class="col-6 col-sm-3">
            <div class="text-center"><img src="../assets/images/person.jpg"><p>Student Name</p></div>            
          </div>
          <div class="col-6 col-sm-3">
            <div class="text-center"><img src="../assets/images/person.jpg"><p>Student Name</p></div>            
          </div>
        </div>
        <h4 style="text-align:center; color:green; margin:2%;">Secondary Awards</h4>        
        <div class="row">
          <div class="col-6 col-sm-3">
            <div class="text-center"><img src="../assets/images/person.jpg"><p>Student Name</p></div>
          </div>
          <div class="col-6 col-sm-3">
            <div class="text-center"><img src="../assets/images/person.jpg"><p>Student Name</p></div>
          </div>
          <div class="clearfix hidden-sm-up"></div>
          <div class="col-6 col-sm-3">
            <div class="text-center"><img src="../assets/images/person.jpg"><p>Student Name</p></div>            
          </div>
          <div class="col-6 col-sm-3">
            <div class="text-center"><img src="../assets/images/person.jpg"><p>Student Name</p></div>            
          </div>
          <div class="col-6 col-sm-3">
            <div class="text-center"><img src="../assets/images/person.jpg"><p>Student Name</p></div>            
          </div>
          <div class="col-6 col-sm-3">
            <div class="text-center"><img src="../assets/images/person.jpg"><p>Student Name</p></div>            
          </div>
          <div class="clearfix hidden-sm-up"></div>
          <div class="col-6 col-sm-3">
            <div class="text-center"><img src="../assets/images/person.jpg"><p>Student Name</p></div>            
          </div>
          <div class="col-6 col-sm-3">
            <div class="text-center"><img src="../assets/images/person.jpg"><p>Student Name</p></div>            
          </div>
        </div>
        <h4 style="text-align:center; color:green; margin:2%;">Senior Secondary Awards</h4>        
        <div class="row">
         <div class="col-6 col-sm-3">
            <div class="text-center"><img src="../assets/images/person.jpg"><p>Student Name</p></div>
          </div>
          <div class="col-6 col-sm-3">
            <div class="text-center"><img src="../assets/images/person.jpg"><p>Student Name</p></div>
          </div>
          <div class="clearfix hidden-sm-up"></div>
          <div class="col-6 col-sm-3">
            <div class="text-center"><img src="../assets/images/person.jpg"><p>Student Name</p></div>            
          </div>
          <div class="col-6 col-sm-3">
            <div class="text-center"><img src="../assets/images/person.jpg"><p>Student Name</p></div>            
          </div>
          <div class="col-6 col-sm-3">
            <div class="text-center"><img src="../assets/images/person.jpg"><p>Student Name</p></div>            
          </div>
          <div class="col-6 col-sm-3">
            <div class="text-center"><img src="../assets/images/person.jpg"><p>Student Name</p></div>            
          </div>
          <div class="clearfix hidden-sm-up"></div>
          <div class="col-6 col-sm-3">
            <div class="text-center"><img src="../assets/images/person.jpg"><p>Student Name</p></div>            
          </div>
          <div class="col-6 col-sm-3">
            <div class="text-center"><img src="../assets/images/person.jpg"><p>Student Name</p></div>            
          </div>
        </div>
       </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" role="tab" id="achievementTwo">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#schoolAchievement" aria-expanded="false" aria-controls="schoolAchievement">
          #2. School Achievement
        </a>
      </h5>
    </div>
    <div id="schoolAchievement" class="collapse" role="tabpanel" aria-labelledby="achievementTwo">
      <div class="card-block community-text">
       <h4 style="text-align:center; color:green; margin:2%;">News Media Awards</h4>                            
        <div class="row">
          <div class="col-12">
            <div class="text-center">
              <img src="../assets/images/school_achievement.jpg" class="img-fluid">
              <p>The School was nominated in 3 categories for NDTV awards at the National level and won in 2 categories</p> 
              <p>1. School National Award for Excellence in Faculty Training.</p>
              <p>2. National Award for Excellence in Inclusive Education.</p> 
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

<!--End Of Achivement-->

<!--Start Of Community-->

<div class="community" id="community">
<h4 class="h4-style-everypage">Our Community</h4>
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner" role="listbox">
    <div class="carousel-item active">
      <img class="d-block img-fluid community-image" src="../assets/images/4.jpg" alt="First slide">
      <img class="d-block img-fluid community-image" src="../assets/images/5.jpg" alt="First slide">      
    </div>
    <div class="carousel-item">
      <img class="d-block img-fluid community-image" src="../assets/images/6.jpg" alt="Second slide">
      <img class="d-block img-fluid community-image" src="../assets/images/7.jpg" alt="second slide">      
    </div>
    <div class="carousel-item">
      <img class="d-block img-fluid community-image" src="../assets/images/8.jpg" alt="Third slide">
      <img class="d-block img-fluid community-image" src="../assets/images/9.jpg" alt="Third slide">      
    </div>
  </div>
</div>

<div id="accordion" role="tablist" aria-multiselectable="true">
  <div class="card">
    <div class="card-header" role="tab" id="headingOne">
      <h5 class="mb-0">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          #1. Paint A Wall
        </a>
      </h5>
    </div>

    <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
      <div class="card-block community-text">
       Every drop makes the ocean...this is what the srkg children demonstrated through the palm printing activity. The wall to the entrance of *School Name* is adorned with 500+ palm prints to depict a colourful peacock. The majestic peacock is known for its patience, kindness, compassion and grace, values which each child learns at school. The children enjoyed putting up their tiny palm prints on the wall and were amazed to see the final result. They learnt that working together makes big and beautiful things possible.</div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" role="tab" id="headingTwo">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          #2. Blood Donation Camp
        </a>
      </h5>
    </div>
    <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="card-block community-text">
        Blood Donation Club along with Rotary Club of xyz had organized a blood donation camp in school on date. Volunteers from Kai XYX School came to conduct it and they were ably assisted by the Interact members of class 7 & 8. The camp was on from time to time. x number bottles of blood were collected. It was a very good experience for the students and teachers involved.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" role="tab" id="headingThree">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          #3. Rakhi Making Activity
        </a>
      </h5>
    </div>
    <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">
      <div class="card-block community-text">
       As part of Quality circle time activity, the students of class 6 made rakhis out of recycled material. The students  made wonderful rakhis which were colourful and ey ecatching.<br>
       As a part of Quality Circle Time, students of class -6 visited xyz School for Raksha bandhan celebrations. Students carried hand made Rakhis with them which they themselves had made out of recycled material. The joy and happiness on the faces of the students of xyz School was indeed heart warming and touching. By reaching out to the xyz School students our students learnt the value of sensitivity and caring for others.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" role="tab" id="headingFour">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
          #4. The Joy of Sharing
        </a>
      </h5>
    </div>
    <div id="collapseFour" class="collapse" role="tabpanel" aria-labelledby="headingFour">
      <div class="card-block community-text">
        The willingness to empower the girl child and destitute from the neighbouring locality has driven many a young Name to offer their help to the shelter home – Person Name. Their visitations have not been confined only to offering gifts or supplies, but also to develop basic skills that can foster participatory development among the underprivileged.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" role="tab" id="headingFive">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
          #5. Smart Student - Smart City 
        </a>
      </h5>
    </div>
    <div id="collapseFive" class="collapse" role="tabpanel" aria-labelledby="headingFive">
      <div class="card-block community-text">
       XYZ school shared their views about making their beloved Thane a smart city. Their enthusiasm in issues of public interest and their participation in a discussion in this regard with the Honourable Chief Minister of XYZ State, Name, the Municipal Commissioner of City Name, Person Name as well as the Secretary of education of State Name, Person Name was indeed very well received by one and all.
      </div>
    </div>
  </div>
</div>
</div>

<!--End Of Community-->

<!--Start Of Contact Form-->
<div class="container">
<h4 class="h4-style-everypage">Contact Us</h4>
    <p *ngIf="mail_successfull" style="text-align:center;color:green;">Your message has been send successfully!</p>
    <form [formGroup]="contactForm" (ngSubmit)="sendEmail($event)">
    <div class="row">
      <div class="col">
        <div class="form-group">
          <label for="name" class="col-2 col-form-label">Name</label>
          <div class="col-10">
            <input class="form-control" formControlName="name" type="text" placeholder="What's your mom call you?">
              <p *ngIf="name.touched && name.hasError('required')" style="color:red; font-weight:600;">Required</p>            
          </div>
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <label for="email" class="col-2 col-form-label">Email</label>
          <div class="col-10">
            <input class="form-control" formControlName="email" type="email" placeholder="Where we can shoot an email?">
              <p *ngIf="email.touched && email.hasError('required')" style="color:red; font-weight:600;">Required</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="form-group">
          <label for="telephone" class="col-2 col-form-label">Telephone</label>
          <div class="col-10">
            <input class="form-control" formControlName="telephone" type="tel" placeholder="Where we can call you?">
              <p *ngIf="telephone.touched && telephone.hasError('required')" style="color:red; font-weight:600;">Required</p>            
          </div>
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <label for="message">Message</label>
          <div class="col-10">
            <textarea class="form-control text-area" formControlName="message" type="text" placeholder="What's in your mind?"></textarea>
              <p *ngIf="message.touched && message.hasError('required')" style="color:red; font-weight:600;">Required</p>            
          </div>
        </div>
      </div>
    </div>
    <div class="row send-btn">
      <div class="form-group">
        <div class="col-10">
          <button class="btn btn-success" type="submit" style="width:100px;" [disabled]="!contactForm.valid">Send</button>
        </div>
      </div>
    </div>
    </form>
</div>

<!--End Of Contact Form-->

<!--Google Map-->

<agm-map [latitude]="lat" [longitude]="lng">
  <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
</agm-map>

<!--End of Google Map-->

<!--Footer Start-->

<footer class="container-fluid footer-style">
  <div class="row">
    <div class="col-4">
      <ul>
        <li><a href="">Community</a></li>
        <li><a href="">Blog</a></li>
        <li><a href="">Feedback</a></li>        
      </ul>
    </div>
    <div class="col-4">
      <ul>
        <li><a href="">Terms of Service</a></li>
        <li><a href="">Privacy Policy</a></li>
        <li><a href="">Help & Support</a></li>        
      </ul>
    </div>
    <div class="col-4">
      <address style="font-size:smaller; color:lavender;">
        <h6>Contact Us</h6>
         4-A, Green Nagar, Near Dalda Factory,<br>
         Durgapura, Jaipur, Rajasthan, Pin - 302018<br>
         Phone: <a id="a-tag" href= "tel:+917610002325" title="Call to +917610002325">+917610002325</a> ,<a id="a-tag" href="tel:+919415537946" title="Call to +919415537946">+919415537946</a><br>
         Email: <a id="a-tag" href= "mailto:contact@tejaaslabs.com?Subject=Contact%20Form" target="_top" title="Mail To contact@tejaaslabs.com">contact@tejaaslabs.com</a><br>
      </address>
    </div>
  </div>
  <div class="row social-border">
    <div class="col"></div>
    <div class="col-6 text-center" style="margin-top:2%;">
       <p style="font-size: x-large;">Stay Connected With Us</p>
       <ul class="social-ul">
        <li class="social-li">
          <a href="https://www.facebook.com/" target="_blank" title="Visit our facebook page"><span><i class="fa fa-facebook-square" aria-hidden="true"></i></span></a>
        </li>
        <li class="social-li">
          <a href="https://www.plus.google.com/" target="_blank" title="Visit our google-plus page"><span><i class="fa fa-google-plus-square" aria-hidden="true"></i></span></a>
        </li>
        <li class="social-li">
          <a href="https://www.twitter.com/" target="_blank" title="Visit our twitter page"><span><i class="fa fa-twitter-square" aria-hidden="true"></i></span></a>
        </li>
        <li class="social-li">
          <a href="https://www.linkedin.com/" target="_blank" title="Visit our linkedin page"><span><i class="fa fa-linkedin-square" aria-hidden="true"></i></span></a>
        </li>
      </ul>
    </div>
    <div class="col"></div>
  </div>
  <div class="row">
    <div class="col">
      <p style="margin: 10px 0px 10px 0px; text-align: -webkit-center;">&copy; All Right Reserved By Tejaas Labs</p>
    </div>
    <div class="col">
      <p style="margin: 10px 0px 10px 0px; text-align: -webkit-center;">Template Made By <a href="https://www.tejaaslabs.com" title="Visit Tejaas Labs">www.tejaaslabs.com</a></p>
    </div>
  </div>
</footer>

<!--End Of Footer-->